/* Slider */
.slick-slider {
  @apply block relative box-border select-none touch-pan-y;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  @apply block relative mx-0 overflow-x-hidden; 
}

.slick-list:focus {
  @apply outline-none;
}

.slick-list.dragging {
  @apply cursor-pointer;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track {
  @apply block relative top-0 left-0 mx-auto overflow-x-hidden;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  @apply clear-both;
}

.slick-loading .slick-track {
  @apply invisible;
}

.slick-slide {
  @apply hidden float-left h-full;
}

[dir='rtl'] .slick-slide {
  @apply float-right;
}

.slick-slide img {
  @apply block;
}

.slick-slide.slick-loading img {
  @apply hidden;
}

.slick-slide.dragging img {
  @apply pointer-events-none;
}

.slick-initialized .slick-slide {
  @apply block;
}

.slick-loading .slick-slide {
  @apply invisible;
}

.slick-vertical .slick-slide {
  @apply block h-auto border border-transparent;
}

.slick-arrow.slick-hidden {
  @apply hidden;
}

/* Arrows */
.slick-prev,
.slick-next {
  @apply block absolute top-2/4 w-5 h-5 p-0 bg-transparent border-none outline-none text-transparent cursor-pointer font-none leading-none;

  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  @apply text-transparent outline-none bg-transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  @apply opacity-100;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  @apply opacity-25;
}

.slick-prev:before,
.slick-next:before {
  @apply text-xl text-white opacity-75 leading-none antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  @apply -left-6;
}

[dir='rtl'] .slick-prev {
  @apply right-6 left-auto;
}

.slick-prev:before {
  content: '←';
}

[dir='rtl'] .slick-prev:before {
  content: '→';
}

.slick-next {
   @apply -right-6;
}

[dir='rtl'] .slick-next {
  @apply right-auto -left-6;
}

.slick-next:before {
  content: '→';
}

[dir='rtl'] .slick-next:before {
  content: '←';
}

/* Dots */
.slick-dotted.slick-slider {
  @apply mb-8;
}

.slick-dots {
  @apply flex justify-center flex-nowrap absolute mt-1 w-full m-0 p-0 list-none text-center;
}

.slick-dots li {
  @apply relative inline-block w-24 lg:w-56 h-2 cursor-pointer mx-1;
}

.slick-dots li button {
  font-size: 0;
  @apply block leading-none w-full h-full border-none rounded-sm bg-brand-black bg-opacity-20; 
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  @apply outline-none opacity-100;
}

.slick-dots li.slick-active button {
  @apply bg-brand-orange;
}
