@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./carousel.css";
@import "./wallet.css";

body {
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

img {
  @apply select-none pointer-events-none;
}

.border-hexagon {
  @apply border-2 rounded-lg;
}

.border-hexagon:before,
.border-hexagon:after {
  content: "";
  position: absolute;
  width: 0;
}

.border-hexagon:before {
  bottom: 100%;
}

.border-hexagon:after {
  top: 100%;
  width: 0;
}

@layer components {
  .transition-hover {
    @apply transition ease-in-out duration-200;
  }

  .button-hover {
    @apply transition-hover hover:bg-brand-orange-hover hover:border-brand-orange-hover hover:text-white;
  }
}
