@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./wallet.css";


img {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@layer components {
  .no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .transition-hover {
    @apply transition ease-in-out duration-200;
  }

  .button-hover {
    @apply transition-hover hover:bg-brand-orange-hover hover:border-brand-orange-hover hover:text-white;
  }
}
