.menu.menu-horizontal {
  margin-left: 2rem !important;
}

.menu.menu-horizontal .indicator-item {
  right: 0.5rem;
}

.menu.absolute .indicator-item {
  right: 10px;
}

.menu.absolute {
  top: calc(100% + 1.5rem);
}

.menu-horizontal .top-sub-menu {
  left: 1rem;
  padding-top: 0.8rem;
  min-width: 143px;
}

.menu-horizontal .top-sub-menu li:first-child {
  border-top: 5px solid #75FCC1;
}

.side-menu-item:hover svg path {
  fill: #75FCC1;
}

@media screen and (max-width: 960px) {
  .menu.menu-horizontal {
    display: none;
  }

  .header-sign {
    display: none !important;
  }
}

@media screen and (min-width: 960px) {
  .menu-icon {
    display: none;
  }
}