.app-container {
  height: calc(100vh - 80px);
}

.charity-card {
  background: #FFFFFF;
  border: 1px solid #3C3C3C;
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  height: 317px;
}

.charity-card .card .avatar-box {
  background: #FFFFFF;
  border: 1px solid #EDEDED;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.charity-card .card .card-body {
  padding: 0;
}

.charity-card .card .card-body .outline-button {
  color: white;
  font-weight: 500;
  border: 0;
}

.charity-card .card .card-body .outline-button:hover {
  font-weight: 700;
}

.profile-section {
  background: white;
  border: 1px solid #5B626C;
  box-shadow: 4px 4px 4px rgba(43, 45, 48, 0.25);
  border-radius: 10px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
  box-shadow: 4px 4px 4px rgba(43, 45, 48, 0.25);
}

.profile-section label {
  font-weight: bold;
  color: black;
}

.profile-section .swatches-picker>div>div:first-child {
  background: #2B2D30 !important;
  border: 1px solid #6A6A6B !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 10px !important;
}

.profile-section .swatches-picker {
  width: 100% !important;
}

.profile-section .form-control label {
  padding: 0;
}

.profile-section .form-control input.toggle {
  width: 4rem;
  height: 2rem;
  --handleoffset: 2rem;
  --bc: 212 100% 50%;
  --b1: 212 100% 50%;
  --p: 200 100% 50%
}

.profile-section .form-control input.toggle:checked, .profile-section .form-control input.toggle[checked="true"] {
  --chkbg: hsl(var(--p));
  border-color: hsl(var(--p) / var(--tw-border-opacity));
  --tw-border-opacity: 0.1;
  --tw-bg-opacity: 1;
  background-color: hsl(var(--p) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: hsl(var(--pc) / var(--tw-text-opacity));
}

.profile-container .profile-item:not(textarea) {
  height: 49px;
}

.profile-container .profile-item {
  background-color: #FFFFFF;
  border-width: 1px;
  border-radius: 10px;
  width: 100%;
  color: black;
  margin-bottom: 0.75rem;
  font-size: 18px;
  font-weight: 400;
}

.profile-container .profile-item:last-child {
  margin-bottom: 0;
}

.profile-container .profile-box {
  background: white;
  border-width: 1px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.profile-container .profile-primary-button {
  background: #0075FF;
  border: 1px solid #0075FF;
  height: 60px;
}

.profile-container .profile-secondary-button {
  background: #FFFFFF;
  border: 1px solid #0075FF;
  color: #0075FF;
  height: 60px;
}

.profile-container .profile-setting-button {
  background: #0075FF;
  border: 1px solid #5B626C;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 14px;
  text-transform: capitalize;
  width: 80px;
  height: 32px;
  min-height: auto;
}

.profile-save-section {
  position: sticky;
  top: 0;
  background: #FFFFFF;
  border-bottom: 1px solid #000000;
}

.profile-save-section .tabs .tab {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0.2rem;
  height: unset;
  font-size: 16px;
  color: #000000;
  border-bottom: 3px solid white;
  margin-right: 24px;
}

.profile-save-section .tabs .tab:last-child {
  margin-right: 0;
}

.profile-save-section .tabs .tab.tab-active {
  border-bottom: 3px solid #0075FF;
  color: #0075FF;
  font-weight: 700;
}

.side-bar.stick-side-bar {
  height: calc(100vh - 80px);
}

.side-bar .collapse-title, .side-bar .collapse>input[type="checkbox"] {
  min-height: auto;
}

.side-bar .collapse-content {
  padding: 0 !important;

}

.side-bar .collapse-plus .collapse-title:after {
  color: white;
  right: 1.5rem;
}

.my-check-box {
  cursor: pointer;
}

.my-check-box .tick {
  position: relative;
  background: transparent;
  border: 1px solid #696969;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.my-check-box .tick.checked::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background: #00EF8B;
  border: 1px solid #696969;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.explore-input-container {
  display: flex;
  padding: 0 10px;
  background: #2F3136;
  border: 1px solid #696969;
  border-radius: 5px;
  height: 39px;
}

.explore-input-container input {
  width: 100%;
  margin-left: 8px;
  border: 0;
  outline: none;
  background-color: transparent;
}

.fundraiser-card .card-image>div {
  border-bottom: 1px solid #000000;
}

.fundraiser-card .card-body {
  border: 1px solid #E9E9E9;
  padding: 20px;
  justify-content: end;
}

.public-profile .profile-banner {
  background: #25BA25;
  box-shadow: inset 100px 100px 100px rgba(0, 63, 185, 0.25);
  height: 254px;
  position: relative;
}

.profile-avatar-container {
  position: absolute;
  bottom: -50px;
  padding: 12px;
  width: 200px;
  height: 196px;
  background: #FFFFFF;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collection-avatar-container {
  position: absolute;
  bottom: -50px;
  padding: 12px;
  width: 200px;
  height: 196px;
  background: #FFFFFF;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.public-profile .profile-info {
  background: white;
  position: relative;
  padding-top: 70px;
}

.public-profile .profile-info+span {
  font-weight: 700;
  font-size: 30px;
  line-height: 48px;
  color: black;
  max-width: 490px;
  margin-left: 20px;
}

.public-profile .profile-tab {}

.public-profile .tabs .tab {
  font-size: 20px;
  color: black;
  height: 40px;
}

.public-profile .tabs .tab.tab-active {
  border-bottom: 3px solid #606060;
  font-weight: 700;
}

.public-profile .about-main {
  background: #41444A;
  border: 1px solid #000000;
  border-radius: 20px;
}

.donate-container {
  background: white;
  border: 1px solid #000000;
  border-radius: 20px;
  height: 800px;
}

.donate-container .donate-item {
  border: 1px solid #000000;
  border-radius: 10px;
  height: 80px;
  padding-left: 24px;
  padding-right: 24px;
  cursor: pointer;
}

.donate-container .donate-tab>div {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.donate-container .donate-tab>div:first-child {
  border-top-left-radius: 20px;
}

.donate-container .donate-tab>div:last-child {
  border-top-right-radius: 20px;
}

.donate-container .donate-tab .active-tab {
  background-color: transparent;
}

.donate-container .donation-radio-box {
  border-radius: 0 !important;
}

.donate-container .donation-radio-box:checked {
  background-color: #00F3E5 !important;
  box-shadow: 0 0 0 2px white inset, 0 0 0 2px white inset !important;
}

.donation-item {
  height: 69px;
  border-bottom: 1px solid #717171;
  padding-left: 32px;
  padding-right: 32px;
}

.about-box {
  background: rgba(32, 34, 36, 0.75);
  border-radius: 10px;
  padding: 24px 53px 38px 64px;
  max-width: 500px;
}

.category-badge {
  @apply h-12 inline-flex border border-base-content bg-white gap-4 px-4 py-1 rounded-lg items-center cursor-pointer
}

.category-badge:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 8px 0;
}

.wallet-item {
  display: flex;
  align-items: center;
  height: 80px;
}

.wallet-item>div {
  align-items: center;
  justify-content: center;
  padding-left: 24px;
  padding-right: 24px;
}

.wallets-body .wallet-item:first-child {
  margin-top: 24px;
}

.wallets-body .wallet-item:last-child {
  margin-bottom: 24px;
}

.wallets-body .wallet-item>div:nth-child(1) {
  width: 150px;
  justify-content: start;
}

.wallets-body .wallet-item>div:nth-child(2) {
  flex: 1;
}

.wallets-body .wallet-item>div:nth-child(3) {
  width: 150px;
}

.wallets-header>div {
  align-items: center;
  justify-content: center;
  /* padding-left: 24px; */
  padding: 24px;

}

.wallets-header>div:nth-child(1) {
  width: 150px;
  justify-content: start;
}

.wallets-header>div:nth-child(2) {
  flex: 1;
}

.wallets-header>div:nth-child(3) {
  width: 150px;
}


@media only screen and (max-width: 1024px) {
  .wallet-item {
    flex-direction: column;
    height: auto;
  }

  .wallets-body .wallet-item>div:nth-child(1) {
    width: 100%;
  }

  .wallets-body .wallet-item>div:nth-child(2) {
    width: 100%;
  }
}

.profile .wallet-item input {
  background-color: white;
  border: 1px solid #5B626C;
  border-radius: 10px;
}

.profile label.btn-connect {
  background: white;
  color: black;
  border: 1px solid #5B626C;
  border-radius: 10px;
  font-size: 12px;
  text-transform: capitalize;
}

.profile label.btn-connect:hover {
  background: #2FB4D1;
  color: white;
}

.auth-steps.steps .step::before, .auth-steps.steps .step:after {
  background-color: #9D9B9B;
}

.auth-steps.steps .step:after {
  width: 20px;
  height: 20px;
}

.auth-steps.steps .step::before {
  height: 2px;
}

.auth-steps.steps .step.step-complete:before, .auth-steps.steps .step.step-complete::after {
  background-color: #00EF8B;
}

.auth-steps.steps .step.step-current:after {
  background-color: #FB5022;
}

.auth-steps.steps .step.step-current::before {
  background-color: #00EF8B;
}

.nft-item .btn-list {
  @apply opacity-0 transition-all right-0
}

.nft-item:hover .btn-list {
  @apply opacity-100 right-4
}

.main-menu-bar {
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}

.main-menu-bar::-webkit-scrollbar {
  max-width: 5px;
  background-color: transparent;

}

.main-menu-bar::-webkit-scrollbar-thumb {
  @apply bg-base-200
}