.app-container {
  height: calc(100vh - 80px);
}

.charity-card {
  background: #F5F5F5;
  border: 1px solid #EDEDED;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  height: 317px;
}

.charity-card .card .avatar-box {
  background: #FFFFFF;
  border: 1px solid #EDEDED;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.charity-card .card .card-body {
  padding: 0;
}

.charity-card .card .card-body .outline-button {
  color: white;
  font-weight: 500;
  border: 0;
}

.charity-card .card .card-body .outline-button:hover {
  font-weight: 700;
}

.profile-section {
  background: #303236;
  border: 1px solid #5B626C;
  box-shadow: 4px 4px 4px rgba(43, 45, 48, 0.25);
  border-radius: 10px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
  box-shadow: 4px 4px 4px rgba(43, 45, 48, 0.25);
}

.profile-container .profile-item {
  background-color: #2B2D30;
  border: 1px solid #5B626C;
  border-radius: 10px;
  width: 100%;
  color: white;
  margin-bottom: 0.75rem;
  font-size: 18px;
  font-weight: 400;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.profile-section label {
  color: #DADADA;
}

.profile-container .profile-item:not(textarea) {
  height: 49px;
}

.profile-container .profile-item:last-child {
  margin-bottom: 0;
}

.profile-container .profile-box {
  background: #2B2D30;
  border: 1px solid #6A6A6B;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.profile-container .profile-primary-button {
  background: #2FB4D1;
  border: 1px solid #2FB4D1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 60px;
}

.profile-container .profile-secondary-button {
  background: #37393E;
  border: 1px solid rgba(217, 217, 217, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 60px;
}

.profile-container .profile-setting-button {
  background: #37393E;
  border: 1px solid rgba(217, 217, 217, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 14px;
  text-transform: capitalize;
  width: 120px;
  height: 36px;
  min-height: auto;
}

.profile-section .swatches-picker>div>div:first-child {
  background: #2B2D30 !important;
  border: 1px solid #6A6A6B !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 10px !important;
}

.profile-section .swatches-picker {
  width: 100% !important;
}

.profile-save-section {
  position: sticky;
  top: 0;
  background: #37393E;
  border: 1px solid #696969;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.profile-save-section .tabs .tab {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  height: unset;
  font-size: 16px;
  color: white;
}

.profile-save-section .tabs .tab.tab-active {
  border-bottom: 3px solid #00EF8B;
  color: #00EF8B;
}

.side-bar {
  position: sticky;
  left: 0;
  top: 0;
  height: calc(100vh - 80px);
}

.check-box {
  cursor: pointer;
}

.check-box .tick {
  position: relative;
  width: 20px;
  height: 20px;
  background: transparent;
  border: 1px solid #696969;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 8px;
}

.check-box .tick.checked::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background: #00EF8B;
  border: 1px solid #696969;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.explore-input-container {
  display: flex;
  padding: 0 10px;
  background: #2F3136;
  border: 1px solid #696969;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 60px;
}

.explore-input-container input {
  width: 100%;
  margin-left: 8px;
  border: 0;
  outline: none;
  background-color: transparent;
}

.fundraiser-card .card-image > div {
  border: 1px solid #000000;
}

.fundraiser-card .card-body {
  border: 1px solid #E9E9E9;
  padding: 20px;
  justify-content: end;
}